
/*

C O L O R S

PRIMARY -> #2962ff
SECONDARY -> #000070
PANEL-BACKGROUND -> #e0e0e0
FONT-PRIMARY -> #ffffff
FONT-SECONDARY -> #616161
ALERT -> #d50000

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	color: #212121;
}

.content { /*border: 1px solid lightgreen;*/  }

.container {
	text-align: center;
	display: grid;
	grid-template-columns: auto;
	align-content: space-between;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 600px;
	transform: translate(-50%, -50%);
	background-color: #FAFAFA;
	border-radius: 5px;
	border: 1px solid #F1F1F1;
}

form > div.group {
	margin: 20px 50px;
}

div.input-header {
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
}

div.input-body {
	display: flex;
	width: 100%;
	height: 40px;
	border: 1px solid blue;
	border-radius: 3px; 
}

div.input-body input {
	width: 100%;
	height: 100%;
	padding: 10px;
	outline: none;
	border: none;
	font-size: 1em;
}

div.input-body i {
	padding: 5px;
	background-color: #ffffff;
}

.container h4 {
	padding: 10px 20px;
}
img {
	min-height: 120px;
	min-width: 120px;
	margin: 50px auto 10px auto; 
	border-radius: 50%;
	box-shadow: 1px 1px 5px lightgrey;
	/*border: 1px solid; */
}
form { }

.btn-group {
	display: flex;
	justify-content: space-between;
}

.btn-group span {
	color:  #2962ff;
	align-self: center;
	font-size: 0.8em;
	margin: 10px;
}

.btn {
	outline: none;
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
	background-image: linear-gradient(to right, #000070, #2962ff);
	font-size: 0.8em;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	box-shadow: 1px 1px 5px #2962ff;
	cursor: pointer;
	width: 50%;
}

.btn-outline {
	width: 60%;
	padding: 5px 20px;
	border: 2px solid #2962ff;
	color: #2962ff;
	background: none;
	box-shadow: none;
	transition: background 0.2s;
}

.btn-outline:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

small.footer {
	padding: 10px 20px;
	color: #616161;
}

@media only screen and (max-width: 600px) {
	.container {
		height: 100%;
		width: 100%;
		border: 1px solid;

	}
}
